<a href="/logout" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>

{{#if message}}
    <div class="alert {{messageClass}}" role="alert">
        {{message}}
    </div>
{{/if}}